@font-face {
    font-family: Harmonie;
    src: url(../fonts/harmonie/harmonie_script-webfont.woff);
  }
@font-face {
    font-family: Copperplate;
    src: url(../fonts/copperplate/UTM-CopperplateB.ttf);
}
  
  
*{
    margin: 0;
    &:focus{
        outline: none;
    }
}
body{
    margin: 0;
    font-size: 16rem;
    line-height: 1.4;
    font-family: 'Open Sans', serif;
    overflow-x: hidden;
    // font-family: 'Noto Serif', serif;
}
p{
    font-size: 16rem;
    line-height: 1.4;
}
img, embed{
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
    line-height: 1em;
}
html{
    font-size: calc(1px + ((100vw - 1920px) / 1920) * 1);
}

ul{
    padding: 0;
    li{
        padding: 0;
        list-style: none;
    }
}
input, textarea{
    outline: none;
    &::placeholder{
        color: #d9d9d9;
    }
}
a, button{
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.re-select{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 12rem;
        height: 7rem;
        background-image: url(../images/ic-arrow-down.png);
        background-repeat: no-repeat;
        background-size: 12rem 7rem;
        transform: translateY(-50%);
    }
    select{
        appearance: none;
        border: 0;
        width: 100%;
        border-radius: 0;
        background-color: transparent;
        font-size: 15rem;
        color: #414141;
        font-weight: bold;
        padding: 4rem 20rem 4rem 5rem;
        border-bottom: 1px solid #b7b7b7;

        option {

        }
    }
    &.re-lang-en{
        padding-left: 26rem;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 18rem;
            height: 18rem;
            background-image: url(../images/ic-en.png);
            background-repeat: no-repeat;
            background-size: 18rem 18rem;
            transform: translateY(-50%);
    
        }
    }
}

.re-btn{
    display: inline-block;
    height: 40rem;
    line-height: 40rem;  
    border-radius: 5rem;
    text-align: center;
    border: 1px  solid #b8b8b8;
    background-color: #f4f4f4;
    padding: 0 20rem;
    color: #7b7b7b;
    &:hover{
        background-color: white;
        transition: 0.3s ease-in-out;
    }
}

.re-btn-green{
    display: inline-block;
    height: 33rem;
    line-height: 33rem;  
    border-radius: 3rem;
    text-align: center;
    background-color: #10ab3d;
    padding: 0 24rem;
    color: white;
    font-weight: bold;
    appearance: none;
    border: 0;
    &:hover{
        background-color: #106f2b;
        transition: 0.3s ease-in-out;
    }
}

.re-btn-book{
    display: inline-block;
    height: 33rem;
    line-height: 33rem;  
    border-radius: 3rem;
    text-align: center;
    border: 1px  solid #727272;
    background-color: #10ab3d;
    padding: 0 24rem;
    color: white;
}
header{
    width: 100%;
    background-color: #f4f4f4;
    .re-b-container{
        display: flex;
        .re-b-left{
            width: 64%;
            .re-top-left-nav{
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 70rem;
                padding-left: 240rem;
                ul{
                    li{
                        list-style: none;
                        position: relative;
                        display: inline-block;
                        a{
                            font-weight: bold;
                        }
                        &:last-child{
                            padding-right: 0!important;
                            margin-right: 0 !important;
                            &::after{
                                display: none;
                            }
                        }
                    }
                    &.re-left{
                        li{
                            padding-right: 30rem;
                            margin-right: 30rem;
                            a{
                                font-size: 15rem;
                                color: #7b7b7b;
                            }
                            &::after{
                                content: "";
                                position: absolute;
                                right: 0;
                                top: 50%;
                                width: 6rem;
                                height: 6rem;
                                background-color: #7b7b7b;
                                border-radius: 50%;
                                transform: translate(50%, -50%);
                            }
                        }
                        
                    }
                    &.re-right{
                        display: flex;
                        align-items: center;
                        padding-right: 30rem;
                        li{
                            margin-right: 24rem;
                            .re-select{
                                select{
                                    border: 0;
                                    font-size: 15rem;
                                }
    
                            }
                            
                        }
    
                    }
                }
            }
            .re-bottom-left-nav{
                padding-left: 240rem;
                ul{
                    li{
                        list-style: none;
                        position: relative;
                        display: inline-block;
                        padding-right: 20rem;
                        margin-right: 20rem;
                        height: 80rem;
                        line-height: 80rem;                        
                        a{
                            font-size: 16rem;
                            font-weight: bold;
                            text-align: left;
                            color: #414141;
                            text-transform: uppercase;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 50%;
                            width: 6rem;
                            height: 6rem;
                            background-color: #a2a2a2;
                            border-radius: 50%;
                            transform: translate(50%, -50%);
                        }
                        &:last-child{
                            padding-right: 0;
                            margin-right: 0;
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .re-booking-nav{
            width: 36%;

            form{
                display: flex;
                border: 1px solid #b7b7b7;
                background-color: white;
                padding: 10rem 25rem 18rem;
                width: 469rem;

                .form-group{
                    margin-right: 24rem;
                    width: 160rem;
                    &:last-child{
                        margin-right: 0;
                    }
                    .form-field{
                        margin-bottom: 15rem;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        p{
                            font-size: 13rem;
                            margin-bottom: 8rem;
                            color: #a8a8a8;
                        }
                        select{

                        }
                        input{
                            padding: 0;
                            border: 0;
                            width: 100%;
                            appearance: none;
                            background-color: transparent;
                            font-size: 15rem;
                            color: #414141;
                            font-weight: bold;
                            border-radius: 0;
                            height: 24rem;
                            line-height: 24rem;
                            border-bottom: 1px solid #b7b7b7;
                
                        }
                    }
                }
                .re-btn-booking{
                    border-radius: 5rem;
                    background-color: #10ab3d;
                    font-size: 16rem;
                    font-weight: bold;
                    text-align: center;
                    color: #fefefe;
                    padding: 28rem;
                    border: 0;
                }
            }
        }
    }
}

footer{
    background-color: #f0f0f0;
    .re-b-container{

        .re-b-top{
            padding: 65rem 240rem 44rem;
            border-bottom: 1px solid rgba(0,0,0,0.3);
            display: flex;
            justify-content: space-between;
            .re-b-left{
                display: flex;
                figure{
                    margin-right: 69rem;
                    img{
                        width: 169rem;
                    }
                }
                .re-contact{
                    color: #4b4b4b;
                    h5{
                        font-size: 16rem;
                        line-height: 1.5;
                        margin-bottom: 16rem;
                    }
                    p{
                        font-size: 15rem;
                        line-height: 1.6;
                        margin-bottom: 18rem;
                        width: 164rem;
                    }
                    .re-btn{
                        margin-bottom: 27rem;
                    }
                    .re-sns{
                        display: flex;
                        align-items: center;
                        h6{
                            font-size: 15rem;
                            line-height: 1.6;
                            margin-right: 18rem;
                        }
                        ul{
                            display: flex;
                            align-items: center;
                            li{
                                margin-right: 30rem;
                                a{
                                    display: inline-block;
                                    width: 40rem;
                                    height: 40rem;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;

                                    }

                                }
                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                        }

                    }
                }

            }
            .re-b-right{
                display: flex;
                justify-content: space-between;
                .re-b-col{
                    color: #4b4b4b;
                    margin-right: 100rem;
                    h5{
                        font-size: 16rem;
                        line-height: 1.5;
                        margin-bottom: 16rem;
                    }
                    ul{
                        li{
                            list-style: none;
                            margin-bottom: 8rem;
                            a{
                                color: #4b4b4b;

                            }
                            &:last-child{
                                margin-bottom: 25rem;
                            }
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }

            }

        }
        .re-b-bottom{
            padding: 18rem 240rem 270rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-size: 15rem;
                line-height: 1.6;
                color: #4b4b4b;
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    margin-right: 12rem;
                    a{
                        img{
                            height: 20rem;
                            width: auto;
                        }

                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }

        }
    }
}
.re-s-banner{
    overflow: hidden;
    .re-slider{
        .re-slide{
            background-size: cover;
            height: 560rem;
            padding: 45rem 0;
            text-align: center;
            figure{
                margin-bottom: 29rem;
                img{
                    width: 224rem;
                    margin: 0 auto;
                }
            }
            h1{
                font-family: Copperplate;
                font-size: 62rem;
                color: #fde893;
                margin-bottom: 14rem;
            }
            h2{
                font-family: Harmonie;
                font-size: 56rem;
                font-weight: normal;
                color: white;
            }
        }
        .slick-dots{
            bottom: 24rem;
            li{
                button{
                    &::before{
                        content: "";
                        width: 9rem;
                        height: 9rem;
                        border: 1px solid #d4d4d4;
                        border-radius: 50%;
                    }
                }
                &.slick-active{
                    button{
                        &::before{
                            background-color: #d4d4d4;
                        }
                    }
                }
            }
        }
    }
}
.re-tour-item{
    width: 330rem;
    margin: 0 auto;
    figure{
        height: 136rem;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;
        margin-bottom: 21rem;
        span{
            display: inline-block;
            color: white;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 12rem;
            font-weight: bold;
            padding: 10rem;
            border-bottom-right-radius: 4rem;
        }
    }
    .re-content{
        .re-head{
            display: flex;
            justify-content: space-between;
            margin-bottom: 19rem;
            .re-left{
                width: calc(100% - 60rem);
                h5{
                    font-size: 15rem;
                    line-height: 1.2;
                    font-weight: bold;
                    color: #3e3e3e;
                    margin-bottom: 8rem;

                }
                .re-rating{
                    display: flex;
                    align-items: center;
                    img{
                        height: 17rem;
                        width: auto;
                        margin-right: 10rem;

                    }
                    span{
                        font-size: 12rem;
                        color: #ababab;
                    }
                }
            }
            h6{
                display: inline-block;
                width: 42rem;
                height: 42rem;
                border-radius: 4rem;
                border: solid 1px #a9a9a9;
                background-color: #106f2b;
                font-size: 18rem;
                text-align: center;
                font-weight: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }

        }
        .re-body{
            margin-bottom: 25rem;
            p{
                font-size: 14rem;
                line-height: 1.2;
                color: #5c5c5c;
                display: block;
                display: -webkit-box;
                height: 31rem;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

        }
        .re-foot{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h5{
                font-size: 18rem;
                line-height: 1.3;
                font-weight: bold;
                color: #3d3d3d;
                span{
                    font-size: 12rem;
                    color: #ababab;
                    display: block;

                }
            }


        }
    }
}

.re-s-best-selling{
    padding: 58rem 0 53rem;
    .re-b-container{
        padding: 0 240rem;
        .re-b-head{
            text-align: center;
            margin-bottom: 39rem;
            h5{
                font-family: NotoSerif;
                font-size: 15rem;
                font-style: italic;
                letter-spacing: 3rem;
                color: #9b9b9b;
                margin-bottom: 12rem;
            }
            h3{
                font-family: Copperplate;
                font-size: 30rem;
                color: #5c5c5c;
              
            }
        }
        .re-b-body{
            width: 1120rem;
            margin: 0 auto 40rem;
            .slick-prev{
                width: 36rem;
                height: 64rem;
                background-image: url(../images/ic-arrow-left.png);
                background-size: 100%;
                left: -188rem;
                &::before{
                    display: none;
                }
            }
            .slick-next{
                width: 36rem;
                height: 64rem;
                background-image: url(../images/ic-arrow-right.png);
                background-size: 100%;
                right: -188rem;
                &::before{
                    display: none;
                }
            }
        }
        .re-b-foot{
            text-align: center;
        }

    }
}
.re-s-ads{
    padding: 43rem 0;
    border-top: 1px solid #dedede;
    .re-b-container{
        padding: 0 240rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 690rem;
        }
    }
}

.re-s-journey{
    padding: 63rem 0;
    background-color: #f2f2f2;
    .re-b-container{
        padding: 0 240rem;
        .re-b-body{
            margin-bottom: 45rem;
            display: flex;
            justify-content: space-between;
            .re-b-left{
                .re-video-box{
                    border: 7rem solid white;
                    background-size: cover;
                    background-position: center;
                    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.3);
                    width: 930rem;
                    height: 583rem;
                    position: relative;
                    img{
                        position: absolute;
                        width: 62rem;
                        height: 62rem;
                        left: 50%;
                        top: 50%;
                        z-index: 2;
                        transform: translate(-50%, -50%);
                    }
                    &::before{
                        content: "";
                        background-color: rgba(0,0,0,0.3);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
            .re-b-right{
                width: 410rem;
                text-align: center;
                padding-top: 99rem;
                padding-right: 30rem;
                background-image: url(../images/logo-stamp.png);
                background-position: top right;
                background-size: 380rem 285rem;
                background-repeat: no-repeat;
                h5{
                    font-family: NotoSerif;
                    font-size: 15rem;
                    font-style: italic;
                    letter-spacing: 1.5rem;
                    text-align: center;
                    color: #9b9b9b;
                    margin-bottom: 20rem;
                }
                h3{
                    font-family: Copperplate;
                    font-size: 30rem;
                    text-align: center;
                    color: #5c5c5c;
                    line-height: 1.3;
                    margin-bottom: 50rem;
                }
                p{
                    font-size: 18px;
                    font-weight: bold;
                    font-style: italic;
                    line-height: 1.5;
                    text-align: center;
                    color: #5c5c5c;
                    margin-bottom: 43rem;
                }
                a{
                    height: 46rem;
                    line-height: 46rem;
                    font-size: 15rem;
                    font-weight: 600;
                    border-radius: 5rem;
                }

            }

        }
        .re-b-foot{
            h4{
                font-size: 20rem;
                font-weight: bold;
                text-align: center;
                color: #5c5c5c;
                line-height: 21rem;
                margin-bottom: 28rem;
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    margin-right: 43rem;
                    a{
                        display: inline-block;
                        width: 69rem;
                        height: 69rem;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }

        }
    }
}

.re-s-welcome{
    background-color: #3d5d45;
    background-image: url(../images/DaNang-stamp.png);
    background-repeat: no-repeat;
    background-size: 440rem 390rem;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-position: 110% 120%;
    position: relative;
    .re-b-head{
        background-color: #28422f;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        ul{
            text-align: center;
            font-size: 0;
            li{
                display: inline-block;
                vertical-align: middle;
                border-right: 2rem solid #4e7458;
                a{
                    font-size: 16rem;
                    line-height: 17rem;
                    font-weight: bold;
                    text-align: center;
                    color: #ffffff;
                    display: inline-block;
                    padding: 22rem 100rem;
                    &:hover{
                        background-color: #4e7458;
                        transition: 0.3s ease-in-out;
                    }
                }
                &:first-child{
                    border-left: 2rem solid #4e7458;

                }
            }
        }           
    }
    .re-b-body{
        margin-bottom: 45rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .re-b-left{
            width: 61%;
            height: 751rem;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .re-b-right{
            width: 39%;
            text-align: center;
            padding-left: 60rem;
            .re-content{
                width: 395rem;
                background-image: url(../images/WelcomeAboard.png);
                background-position: top right;
                background-size: 279rem 181rem;
                background-repeat: no-repeat;
                padding: 50rem 50rem 50rem 0;
                h5{
                    font-family: Copperplate;
                    font-size: 30rem;
                    color: #ffffff;
                    margin-bottom: 8rem;
                }
                h3{
                    font-family: Harmonie;
                    font-size: 49.5rem;
                    text-align: left;
                    color: #ffffff;
                    margin-bottom: 57rem;
                }
                h6{
                    font-family: Copperplate;
                    font-size: 30rem;
                    color: #ffffff;
                    margin-bottom: 32rem;
                }
                .re-des{
                    margin-bottom: 37rem;
                    p{
                        font-size: 16rem;
                        line-height: 1.5;
                        color: #ffffff; 
                        margin-bottom: 12rem;
                        &:last-child{
                            margin-bottom: 0;
                        }          
                    }
                }
    
                a{
                    height: 46rem;
                    line-height: 46rem;
                    font-size: 15rem;
                    font-weight: 600;
                    border-radius: 5rem;
                }
            } 
        }

    }
}
.re-s-add-on{
    padding: 68rem 0 70rem;
    .re-b-container{
        padding: 0 240rem;
        .re-b-head{
            margin-bottom: 43rem;
            h3{
                font-family: Copperplate;
                font-size: 30rem;
                text-align: center;
                color: #5c5c5c;
                margin-bottom: 39rem;
            }
            ul{
                text-align: center;
                border-bottom: 1px solid #9c9c9c;
                border-top: 1px solid #9c9c9c;
                font-size: 0;
                width: 100%;
                li{
                    list-style: none;
                    display: inline-block;
                    vertical-align: middle;
                    border-right: 1px solid #9c9c9c;
                    &:first-child{
                        border-left: 1px solid #9c9c9c;
                    }
                    a{
                        height: 49rem;
                        font-family: OpenSans;
                        font-size: 15rem;
                        font-weight: bold;
                        text-align: center;
                        color: #727272;
                        line-height: 49rem;
                        padding: 0 80rem;
                        display: inline-block;
                        transition: 0.3s ease-in-out;
                        &:hover{
                            background-color: #8f8f8f;
                            color: white;
                            transition: 0.3s ease-in-out;
                        }
                    }
                    &.isActive{
                        a{
                            background-color: #8f8f8f;
                            color: white;
                        }

                    }
                }
            }
        }
        .re-b-body{
            margin-bottom: 39rem;
            .slick-prev{
                width: 36rem;
                height: 64rem;
                background-image: url(../images/ic-arrow-left.png);
                background-size: 100%;
                left: -48rem;
                &::before{
                    display: none;
                }
            }
            .slick-next{
                width: 36rem;
                height: 64rem;
                background-image: url(../images/ic-arrow-right.png);
                background-size: 100%;
                right: -48rem;
                &::before{
                    display: none;
                }
            }
        }
        .re-b-foot{
            padding: 16rem 21rem 16rem 153rem;
            border: 1px solid  #b0b0b0;
            border-radius: 8rem;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    display: flex;
                    align-items: center;
                    img{
                        width: 45rem;
                        margin-right: 20rem;
                    }
                    span{
                        font-size: 15px;
                        font-weight: bold;
                        color: #686868;
                    }
                    a{
                        height: 40rem;
                        line-height: 40rem;
                        border-radius: 5rem;
                        padding: 0 54rem;
                    }
                }
            }
        }
    }
}

.re-s-blog{
    padding: 60rem 0 46rem;
    background-image: url(../images/bg-blog.jpg);
    background-size: cover;
    .re-b-container{
        padding: 0 240rem;
        .re-b-head{
            text-align: center;
            margin-bottom: 54rem;
            h5{
                font-family: NotoSerif;
                font-size: 15rem;
                font-style: italic;
                letter-spacing: 3rem;
                color: #9b9b9b;
                margin-bottom: 12rem;
            }
            h3{
                font-family: Copperplate;
                font-size: 30rem;
                color: #5c5c5c;
            }
        }
        .re-b-body{
            margin: 0 auto 44rem;
            .slick-prev{
                width: 36rem;
                height: 64rem;
                background-image: url(../images/ic-arrow-left-white.png);
                background-size: 100%;
                left: -48rem;
                z-index: 1;
                &::before{
                    display: none;
                }
            }
            .slick-next{
                width: 36rem;
                height: 64rem;
                background-image: url(../images/ic-arrow-right-white.png);
                background-size: 100%;
                right: -48rem;
                z-index: 1;
                &::before{
                    display: none;
                }
            }
        }
        .re-b-foot{
            text-align: center;
            a{
                padding: 0 72rem;

            }
        }

    }
}



.re-blog-item{
    width: 450rem;
    margin: 0 auto;
    background-color: white;
    figure{
        height: 200rem;
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .re-content{
        text-align: center;
        padding: 40rem 38rem 54rem;
        h5{
            font-size: 13rem;
            font-style: italic;
            letter-spacing: 1.3px;
            color: #9b9b9b;
            margin-bottom: 16rem;
        }
        h3{
            font-size: 20px;
            color: #5c5c5c;
            margin-bottom: 33rem;

        }
        p{
            font-size: 14rem;
            line-height: 1.43;
            text-align: justify;
            color: #5c5c5c;
            margin-bottom: 33rem;
        }
        .re-btn-readmore{
            font-size: 15rem;
            font-weight: bold;
            line-height: 1.6;
            color: #5c5c5c;
            padding-bottom: 10rem;
            display: inline-block;
            border-bottom: 1px solid #5c5c5c;
        }
    }
}

.re-s-visualJourney{
    padding: 73rem 0 0;
    .re-b-container{
        .re-b-head{
            text-align: center;
            text-align: center;
            width: 738rem;
            margin: 0 auto 60rem;
            h5{
                font-family: NotoSerif;
                font-size: 15rem;
                font-style: italic;
                letter-spacing: 3rem;
                color: #9b9b9b;
                margin-bottom: 12rem;
            }
            h3{
                font-family: Copperplate;
                font-size: 30rem;
                color: #5c5c5c;
                margin-bottom: 33rem;
            }
            p{
                font-family: NotoSerif;
                font-size: 16rem;
                font-weight: bold;
                font-style: italic;
                line-height: 1.5;
                color: #5c5c5c;
                margin-bottom: 16rem;
            }
            a{
                height: 46rem;
                line-height: 46rem;
                padding: 0 72rem;
            }
        }
        .re-b-body{
            margin: 0 auto;
        }
        .re-b-foot{
            text-align: center;
            a{
                padding: 0 72rem;
            }
        }

    }
}
.re-visual-journey-item{
    width: 100%;
    height: 480rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.re-s-enjouFree{
    padding: 65rem 0 150rem;
    background-image: url(../images/railway.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    .re-b-container{
        padding: 0 402rem;
        .re-b-head{
            margin-bottom: 48rem;
            text-align: center;

            h2{
                margin-bottom: 44rem;
                background-image: linear-gradient(to top, #90835a, #bba65d), linear-gradient(to bottom, #a48e33, #a48e33);
                font-family: Copperplate;
                font-size: 45rem;
                color: #a48e33;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            p{
                font-size: 16rem;
                font-weight: bold;
                font-style: italic;
                line-height: 1.5;
                color: #5c5c5c;
            }
        }
        .re-b-body{
            form{
                text-align: center;
                .form-group{
                    margin-bottom: 40rem;
                    display: flex;
                    justify-content: space-between;
                    .form-field{
                        width: 336rem;
                        p{
                            font-size: 15rem;
                            text-align: left;
                            color: #9b9b9b;
                            margin-bottom: 15rem;
                        }
                        input{
                            padding: 0;
                            border: 0;
                            width: 100%;
                            appearance: none;
                            background-color: transparent;
                            font-size: 15rem;
                            color: #414141;
                            font-weight: bold;
                            border-radius: 0;
                            height: 24rem;
                            line-height: 24rem;
                            border-bottom: 1px solid #b7b7b7;
                        }
                    }
    
                }
                button{

                }
            }
        }
    }
}