<section class="re-s-add-on">
    <div class="re-b-container">
        <div class="re-b-head">
            <h3>ADD-ON TOURS</h3>
            <ul>
                <li class="isActive">
                    <a href="#">Popular</a>
                </li>
                <li>
                    <a href="#">Lang Co Tour</a>
                </li>

                <li>
                    <a href="#">Da Nang Tour</a>
                </li>

                <li>
                    <a href="#">Hoi An Tour</a>
                </li>

                <li>
                    <a href="#">Hue Tour</a>
                </li>

            </ul>
        </div>
        <div class="re-b-body re-addOn-slider">
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/best-selling.jpg'| theme
                    tourType="POPULAR"
                    tourTypeColor="#fe520e"
                    tourTitle="Lap An Lagoon Oyster Feast"
                    tourReview="150"
                    tourRating="9.1"
                    tourShortDes="Join us on a private longtail boat ride across the 800 hectare Lap An Lagoon, set against the imposing Bach Ma mountain range and opening to the sea."
                    tourPrice="750,000/pax"
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/best-selling.jpg'| theme
                    tourType="POPULAR"
                    tourTypeColor="#fe520e"
                    tourTitle="Lap An Lagoon by Bicycle"
                    tourReview="1200"
                    tourRating="8.5"
                    tourShortDes="Join us on a private longtail boat ride across the 800 hectare Lap An Lagoon, set against the imposing Bach Ma mountain range and opening to the sea."
                    tourPrice="650.000/pax"
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/best-selling-2.jpg'| theme
                    tourType="POPULAR"
                    tourTypeColor="#fe520e"
                    tourTitle="Hiking Bach Ma National Park"
                    tourReview="400"
                    tourRating="9.5"
                    tourShortDes="Explore local village life as we set off by bicycle from Lang Co Railway Station, circling the majestic Lap An Lagoon, framed by the impressive Bach Ma Mountains, forming part of a national nature reserve."
                    tourPrice="850.000/pax"
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/slide1.jpg'| theme
                    tourType="POPULAR"
                    tourTypeColor="#fe520e"
                    tourTitle="Lang Co Beach tour by Motorbike"
                    tourReview="400"
                    tourRating="9.5"
                    tourShortDes="Hop on and off your own motorbike at leisure as we explore the beautiful white sand bays and lagoons that make up the quaint fishing town of Lang Co."
                    tourPrice="350.000/pax"
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/best-selling.jpg'| theme
                    tourType="POPULAR"
                    tourTypeColor="#fe520e"
                    tourTitle="Lap An Lagoon Oyster Feast"
                    tourReview="150"
                    tourRating="9.1"
                    tourShortDes="Join us on a private longtail boat ride across the 800 hectare Lap An Lagoon, set against the imposing Bach Ma mountain range and opening to the sea."
                    tourPrice="750,000/pax"
                %}
            </div>
        </div>

        <div class="re-b-foot">
            <ul>
                <li>
                    <img src={{'assets/images/ic-friendly.png' | theme}} alt="ads">
                    <span>Friendly Local Guide</span>
                </li>
                <li>
                    <img src={{'assets/images/ic-money.png' | theme}} alt="ads">
                    <span>Money Back Guarantee</span>
                </li>

                <li>
                    <img src={{'assets/images/ic-date-free.png' | theme}} alt="ads">
                    <span>Change Date Free of Charge</span>
                </li>
                <li>
                    <a href="#" class="re-btn">More tours</a>
                </li>
            </ul>
        </div>

    </div>
</section>