<section class="re-s-ads">
    <div class="re-b-container">
        <img src={{'assets/images/ads1.jpg' | theme}} alt="ads">
        <img src={{'assets/images/ads2.jpg' | theme}} alt="ads">

    </div>
</section>