<section class="re-s-banner">
    <div class="re-slider">
        <div class="re-slide" style="background-image: url({{'assets/images/slide1.jpg' | theme}});">
            <figure>
                <img src={{'assets/images/RE-logo.png' | theme}} alt="logo">
            </figure>
            <h1>REVOLUTION EXPRESS</h1>
            <h2>Ride the Vietnam Revolution</h2>
        </div>
        <div class="re-slide" style="background-image: url({{'assets/images/slide2.jpg' | theme}});">
            <figure>
                <img src={{'assets/images/RE-logo.png' | theme}} alt="logo">
            </figure>
            <h1>REVOLUTION EXPRESS</h1>
            <h2>Ride the Vietnam Revolution</h2>
        </div>
    </div>
</section>