<section class="re-s-best-selling">
    <div class="re-b-container">
        <div class="re-b-head">
            <h5>Revolution Express</h5>
            <h3>BEST SELLING TRAIN PACKAGES</h3>
        </div>
        <div class="re-b-body re-bestSelling-slider">
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/best-selling.jpg'| theme
                    tourType="MUST DO"
                    tourTypeColor="#1254da"
                    tourTitle="Lang Co to Danang Red Star Package"
                    tourReview="150"
                    tourRating="9.1"
                    tourShortDes="Enjoy the best of the Revolution with these extras guaranteed to put you a class above your ..."
                    tourPrice="1,400,000"
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/best-selling-2.jpg'| theme
                    tourType="MUST DO"
                    tourTypeColor="#1254da"
                    tourTitle="Lang Co to Danang Red Star Package"
                    tourReview="1200"
                    tourRating="8.5"
                    tourShortDes="Enjoy the best of life in the Colonies with these extras guaranteed to lift you above the masses."
                    tourPrice="1,400,000"
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/slide1.jpg'| theme
                    tourType="POPULAR"
                    tourTypeColor="#fe520e"
                    tourTitle="Lang Co to Danang Red Star Package"
                    tourReview="400"
                    tourRating="9.1"
                    tourShortDes="Experience first hand the inner workings of our original steam locomotives from  inside the drivers cabin."
                    tourPrice="1,600,000"
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'tourItem' 
                    tourImage='assets/images/best-selling.jpg'| theme
                    tourType="MUST DO"
                    tourTypeColor="#1254da"
                    tourTitle="Lang Co to Danang Red Star Package"
                    tourReview="150"
                    tourRating="9.1"
                    tourShortDes="Enjoy the best of the Revolution with these extras guaranteed to put you a class above your ..."
                    tourPrice="1,400,000"
                %}
            </div>
        </div>

        <div class="re-b-foot">
            <a href="#" class="re-btn">More packages</a>
        </div>

    </div>
</section>