<div class="re-blog-item">
    <figure style="background-image: url({{backgroundImage}});">
    </figure>
    <div class="re-content">
        <h5>{{type}}</h5>
        <h3>{{title}}</h5>
            <p>
            {{shortDes}}
            </p>
            <a href="{{url}}" class="re-btn-readmore">Read more</a>
    </div>
</div>