<section class="re-s-blog">
    <div class="re-b-container">
        <div class="re-b-head">
            <h5>Our Blog</h5>
            <h3>TRAVEL STORIES & EVENTS</h3>
        </div>
        <div class="re-b-body re-blog-slider">
            <div class="slide">
                {% 
                    partial 'blogItem' 
                    backgroundImage="assets/images/blog-1.jpg" | theme
                    type="Travel Tips"
                    title="LOCOMOTIVE TRAVEL TIPS"
                    shortDes="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra vitae felis at elementum. Nullam tincidunt tempor varius. Phasellus ac elementum quam. Donec nec libero vitae felis dictum consectetur ac et eros. Phasellus ex metus, convallis nec tincidunt et."
                    url="#"    
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'blogItem' 
                    backgroundImage='assets/images/blog-2.jpg' | theme
                    type="Recent Events"
                    title="DA NANG FIREWORK FESTIVAL"
                    shortDes="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra vitae felis at elementum. Nullam tincidunt tempor varius. Phasellus ac elementum quam. Donec nec libero vitae felis dictum consectetur ac et eros. Phasellus ex metus, convallis nec tincidunt et."
                    url="#"    
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'blogItem' 
                    backgroundImage='assets/images/blog-3.jpg' | theme
                    type="Charity"
                    title="REVOLUTION EXPRESS CHARITIES"
                    shortDes="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra vitae felis at elementum. Nullam tincidunt tempor varius. Phasellus ac elementum quam. Donec nec libero vitae felis dictum consectetur ac et eros. Phasellus ex metus, convallis nec tincidunt et."
                    url="#"    
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'blogItem' 
                    backgroundImage='assets/images/blog-1.jpg' | theme
                    type="Travel Tips"
                    title="LOCOMOTIVE TRAVEL TIPS"
                    shortDes="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra vitae felis at elementum. Nullam tincidunt tempor varius. Phasellus ac elementum quam. Donec nec libero vitae felis dictum consectetur ac et eros. Phasellus ex metus, convallis nec tincidunt et."
                    url="#"    
                %}
            </div>
        </div>

        <div class="re-b-foot">
            <a href="#" class="re-btn">Archive</a>
        </div>

    </div>
</section>