<section class="re-s-enjouFree">
    <div class="re-b-container">
        <div class="re-b-head">
            <h2>REVOLUTION EXPRESS CLUB</h5>
                <p>Enjoy free membership offering updated stories and travel blogs along with great travel discounts</p>
        </div>
        <div class="re-b-body">
            <form>
                <div class="form-group">
                    <div class="form-field">
                        <p>Your Name</p>
                        <input type="text" name="" />
                    </div>
                    <div class="form-field">
                        <p>Your Email</p>
                        <input type="email" name="email" />
                    </div>
                    <div class="form-field">
                        <p>Discover more</p>
                        <div class="re-select">
                            <select>
                                <option value="volvo">Hotel/transport/restaurant ...</option>
                                <option value="saab">Hotel/transport/restaurant2 ...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="re-btn-green">Subscription</button>
            </form>
        </div>
    </div>
</section>