description = "footer"

==

<footer>
    <div class="re-b-container">
        <div class="re-b-top">
            <div class="re-b-left">
                <figure>
                    <img src={{'assets/images/RE-logo.png' | theme}} alt="logo">
                </figure>
                <div class="re-contact">
                    <h5>INDOCHINA RAIL LTD</h5>
                    <p>Lang Co, Hue Province
                        License No: 123 456789 </p>
                    <a href="#" class="re-btn">Contact Us</a>
                    <div class="re-sns">
                        <h6>Folow us on</h6>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src={{'assets/images/twitter.svg' | theme}} alt="twitter">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src={{'assets/images/facebook.svg' | theme}} alt="facebook">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src={{'assets/images/ic-tripadvisor.png' | theme}} alt="tripadvisor">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src={{'assets/images/linkedin.svg' | theme}} alt="linkedin">
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="re-b-right">
                <div class="re-b-col">
                    <h5>Welcome Aboard</h5>
                    <ul>
                        <li>
                            <a href="#">Carriages</a>
                        </li>
                        <li>
                            <a href="#">Station</a>
                        </li>

                        <li>
                            <a href="#">Turnable</a>
                        </li>

                        <li>
                            <a href="#">Our team</a>
                        </li>

                    </ul>
                </div>
                <div class="re-b-col">
                    <h5>Our Journey</h5>
                    <ul>
                        <li>
                            <a href="#">Ride the Vietnam</a>
                        </li>
                        <li>
                            <a href="#">Mapping Our Route</a>
                        </li>
                    </ul>
                    <h5>Our Tours</h5>
                    <ul>
                        <li>
                            <a href="#">Best-selling Packages</a>
                        </li>
                        <li>
                            <a href="#">Add-on Tours</a>
                        </li>
                    </ul>
                </div>
                <div class="re-b-col">
                    <h5>Our Blog</h5>
                    <ul>
                        <li>
                            <a href="#">Articles</a>
                        </li>
                        <li>
                            <a href="#">Travel Blogs</a>
                        </li>

                        <li>
                            <a href="#">Charities</a>
                        </li>

                        <li>
                            <a href="#">Events</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="re-b-bottom">

            <p>@ 2019 Revolution Express All Right Reserved.</p>
            <ul>
                <li>
                    <a href="#">
                        <img src={{'assets/images/paypal.png' | theme}} alt="google-plus">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src={{'assets/images/visa.png' | theme}} alt="google-plus">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src={{'assets/images/wes.png' | theme}} alt="google-plus">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>