description = "header"
==

<header>
    <div class="re-b-container">
        <div class="re-b-left">
            <div class="re-top-left-nav">
                <ul class="re-left">
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Travel Blog</a>
                    </li>

                    <li>
                        <a href="#">Our Charity</a>
                    </li>

                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
                <ul class="re-right">
                    <li>
                        <div class="re-select re-lang-en">
                            <select>
                                <option value="0">English</option>
                                <option value="1">Vietnam</option>
                            </select>
                        </div>

                    </li>
                    <li>
                        <div class="re-select">
                            <select>
                                <option value="0">USD</option>
                                <option value="1">VND</option>
                            </select>
                        </div>

                    </li>

                    <li>
                        <a href="#" class="re-btn">Agent Log in</a>
                    </li>

                </ul>
            </div>
            <div class="re-bottom-left-nav">

                <ul>
                    <li>
                        <a href="#">our journey</a>
                    </li>
                    <li>
                        <a href="#">welcome aboard</a>
                    </li>
                    <li>
                        <a href="#">all tours</a>
                    </li>
                    <li>
                        <a href="#">gallery</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="re-booking-nav">
            <form action="">
                <div class="form-group">
                    <div class="form-field">
                        <p>From</p>
                        <div class="re-select">
                            <select>
                                <option value="volvo">Lang Co</option>
                                <option value="saab">Saab</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-field">
                            <p>Departure Date</p>
                            <input type="date">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-field">
                        <p>To</p>
                        <div class="re-select">
                            <select>
                                <option value="volvo">Da Nang</option>
                                <option value="saab">Saab</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-field">
                        <p>Passengers</p>
                        <div class="re-select">
                            <select>
                                <option value="volvo">2 Adults</option>
                                <option value="saab">1 Adults</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="re-btn-booking">
                    BOOK NOW
                </button>


            </form>
        </div>

    </div>
</header>