<section class="re-s-journey">
    <div class="re-b-container">
        <div class="re-b-body">
            <div class="re-b-left">
                <div class="re-video-box" style="background-image: url({{'assets/images/shutter.jpg' | theme}});">
                    <img src={{'assets/images/ic-play.png' | theme}} alt="ads">
                </div>
            </div>
            <div class="re-b-right">
                <h5>Revolution Express</h5>
                <h3>RIDE THE
                    VIETNAM REVOLUTION</h3>
                <p>“Join us on a 2 hour journey of a life-time aboard our magnificently renovated war-era steam trains
                    as we explore the stunning landscapes and history of central Vietnam.”</p>
                <a href="#" class="re-btn-green">View Our Journey</a>
            </div>
        </div>
        <div class="re-b-foot">

            <h4>Follow the Revolution Express</h4>
            <ul>
                <li>
                    <a href="#">
                        <img src={{'assets/images/twitter.svg' | theme}} alt="twitter">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src={{'assets/images/facebook.svg' | theme}} alt="facebook">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src={{'assets/images/ic-tripadvisor.png' | theme}} alt="tripadvisor">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src={{'assets/images/linkedin.svg' | theme}} alt="linkedin">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src={{'assets/images/google-plus.png' | theme}} alt="google">
                    </a>
                </li>

            </ul>
        </div>

    </div>
</section>