<div class="re-tour-item">
    <figure style="background-image: url({{tourImage}});">
    <span style="background-color: {{tourTypeColor}}">{{tourType}}</span>
    </figure>
    <div class="re-content">
        <div class="re-head">
            <div class="re-left">
                <h5>{{tourTitle}}</h5>
                <div class="re-rating">
                    <img src={{'assets/images/star.png' | theme}} alt="logo">
                    <span>{{tourReview}} reviews</span>
                </div>
            </div>
            <h6>{{tourRating}}</span>
        </div>
        <div class="re-body">
            <p>{{tourShortDes}}</p>
        </div>
        <div class="re-foot">
            <h5>
                VND {{tourPrice}}
                <span>
                    Includes tax and charges
                </span> 
            </h5>
            <a href="#" class="re-btn-green">Book now</a>
        </div>

    </div>
</div>