<section class="re-s-visualJourney">
    <div class="re-b-container">
        <div class="re-b-head">
            <h5>Revolution Express</h5>
            <h3>A VISUAL JOURNEY</h3>
            <p>Be part of the story by sending us a favourite image of your Revolution Express experience through our
                Club Membership platform</p>
            <a href="#" class="re-btn-green">View Gallery</a>
        </div>
        <div class="re-b-body re-visualJourney-slider">
            <div class="slide">
                {% 
                    partial 'visualJourneyItem' 
                    imageUrl='assets/images/gallery-1.jpg' | theme
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'visualJourneyItem' 
                    imageUrl='assets/images/gallery-2.jpg' | theme
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'visualJourneyItem' 
                    imageUrl='assets/images/gallery-3.jpg' | theme
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'visualJourneyItem' 
                    imageUrl='assets/images/gallery-4.jpg' | theme
                %}
            </div>
            <div class="slide">
                {% 
                    partial 'visualJourneyItem' 
                    imageUrl='assets/images/gallery-4.jpg' | theme
                %}
            </div>

        </div>
    </div>
</section>