<section class="re-s-welcome">
    <div class="re-b-head">
        <ul>
            <li>
                <a href="#">Carriages</a>
            </li>
            <li>
                <a href="#">Stations</a>
            </li>

            <li>
                <a href="#">Turnable</a>
            </li>

            <li>
                <a href="#">Souvenir Shop</a>
            </li>

        </ul>
    </div>
    <div class="re-b-body">
        <div class="re-b-left">
            <img src="{{'assets/images/shutter.jpg' | theme}}" alt="">
        </div>
        <div class="re-b-right">
            <div class="re-content">
                <h5>Revolution Express</h5>
                <h3>Welcome Aboard!</h3>
                <h5>DA NANG STATION</h3>
                    <div class="re-des">
                        <p>Step back in time to the glory days of Vietnam’s Communist revolution. Our French-designed
                            Station
                            and Restaurant offers a unique visual perspective on life during these turbulent times.
    
                        </p>
                        <p> A brass band on the platform plays as staff in army green railway uniform line up with military
                            precision to greet guests alighting from the Revolution Express.
                        </p>
                    </div>
                   
                    <a href="#" class="re-btn-green">Read More</a>

            </div>
        </div>
    </div>
</section>