description = "default layout"

forceUrl = 0
injectBootstrapAssets = 0
injectMainScript = 0
==
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="private">
    <meta http-equiv="Content-Language" content="vi">
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <title>Revolution Exporess - {{ this.page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}" />
    <link href="{{ [
            '@framework.extras',
            'assets/csslb/slick-theme.css',
            'assets/csslb/slick.css',
    
            'assets/css/main.min.css',
        ]|theme }}" rel="stylesheet" media="screen" />
    {% styles %}

    <script src="{{'assets/script/jquery.min.js' |theme }}"></script>

</head>

<body class="{{ this.page.bodyClass }}">
    {% partial "header" %}

    {% page %}
    {% partial "footer" %}

    <script src="{{ [
            '@framework',
            '@framework.extras',
            'assets/script/slick.min.js',
            'assets/script/main.min.js',
        ]|theme }}"></script>

    {% scripts %}
</body>

</html>